<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/6af7c24b-3339-4aa6-a432-37dbe8f5798d/resourceGroups/rg-mycar-dev-frcentral-001/providers/Microsoft.ApiManagement/service/MyCarAPIapi/apis/MyCarAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/6af7c24b-3339-4aa6-a432-37dbe8f5798d/resourceGroups/rg-mycar-dev-frcentral-001/providers/Microsoft.Web/sites/app-mycar-dev-frcentral-001</ResourceId>
    <ResourceGroup>rg-mycar-dev-frcentral-001</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://app-mycar-dev-frcentral-001-dceghdenbjeebvhv.francecentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ee3396ff-0846-4612-b468-51b1b4a2db0d</ProjectGuid>
    <PublishUrl>https://app-mycar-dev-frcentral-001-dceghdenbjeebvhv.scm.francecentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>