<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/172836e8-858f-4e4b-a23e-ccf9177527fd/resourcegroups/rg-mycar-dev-frcentral-001/providers/Microsoft.Web/sites/MyCarAPI20260719222504</ResourceId>
    <ResourceGroup>rg-mycar-dev-frcentral-001</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mycarapi20260719222504-fubwd3fragbtcagq.francecentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ee3396ff-0846-4612-b468-51b1b4a2db0d</ProjectGuid>
    <PublishUrl>https://mycarapi20260719222504-fubwd3fragbtcagq.scm.francecentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>